* {
    image-rendering: pixelated;
    image-rendering: optimizeSpeed;
}

body {
    font-family: MS UI Gothic;
    font-size: 18px;
    line-height: 1.5em;
    color: #f0f0f0;
    padding: 0px;
    background-color: #000000;
    margin: 8px;
}

.main {
    margin-left: 16px;
}

.ditch {
    width: 544px;
    height: 16px;
    background-image: url("/src/img/ditch.png");
}
.dead {
    background-position-y: top;
    width: 64px;
    height: 64px;
    position: relative;
    animation: idle 1.5s infinite;
    animation-timing-function: ease-in;
    background-image: url("/src/img/error.png");
}
@keyframes idle {
    0% {top: 0px;}
    50% {top: 8px;}
    100% {top: 0px;}
}
.text {
    margin-left: 80px;
    margin-top: -56px;
}